body {
    font-family: "Segoe UI", Helvetica, sans-serif;
}

.form-container {
    width: 500px;
    margin: 0 auto;
}
.form-header {
    font-size: 25px;
}
.form-group {
    display: flex;
}
.form-group .label {
    display: block;
    flex: 0 1 20%;
}
.form-group:nth-child(2) {
    display: block;
    flex: 0 1 80%;
}