body {
    font-family: "Segoe UI", Helvetica, sans-serif;
}

.label {
    display: inline-block;
    width: 150px;
}

.changedData {
    padding: 5px;
    border: 1px solid #c1bcbc;
    border-radius: 5px;
}
